name: Run tests on built CLI

on:
  workflow_dispatch:
    inputs:
      lib-branch:
        description: 'Branch of common-lib to test (leave empty for latest PyPI release)'
        required: false
        type: string
      run_debug_script:
        description: "Whether to run custom debug/dev-test script"
        default: false
        required: true
        type: boolean

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Override common-lib dependency with git if branch provided
      if: ${{ inputs.lib-branch != '' }}
      run: |
        BRANCH="${{ github.event.inputs.lib-branch }}"
        sed -i 's/qubership-pipelines-common-library = "\*"/qubership-pipelines-common-library = { git = "https:\/\/github.com\/Netcracker\/qubership-pipelines-common-python-library.git", branch = "'"$BRANCH"'" }/' pyproject.toml
        echo "Updated pyproject.toml to use common-lib from branch: $BRANCH"

    - name: Build & Test
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user pipx
        pipx install poetry
        source ./.github/scripts/build_pyz.sh
        ./.github/scripts/run_tests.sh

    - name: Run Debug Script
      if: ${{ inputs.run_debug_script }}
      run: |
        ./.github/scripts/debug_script.sh
